<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      body{
        background-color: blue;
    }
    .top{
        padding-left: 2cm;
        background: rgb(153, 145, 150,0.8);
        font-size: larger;
        font: bold;
        
    }
    .stop{
        padding-left: 0.7cm;
        color: black;
    }
    
    .w-100{
        margin-top: -2cm;
        width: 80%;
        height: 11.5cm;
    }
    .search-align{
        margin-right: 5cm;
    }
    
    .postItem{
        align-content: center;
        padding: 5cm;
        background-color:#55acee;
    }
    
    /* .carousel-inner > .item > img { width: 200; height:70; align-content: center;} */
    .orn { width:1300px; height:1300px; }
    
    .fa {
        padding: 5px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        background: transparent;
        border-radius: 50%;
        
      }
    
    .fa-facebook {
        color: #3b5998;
      }
    
      .fa-twitter{
          color: #55acee;
      }
    
    .Abtdrdo{
        text-align: justify;
        margin: 2cm;
    }
      /* Add a hover effect if you want */
      .fa:hover {
        opacity: 0.7;
      }
    
         
    .mumbaitext{
        text-align: justify ;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        
    }
     .mumbaicourse{
         padding: 10px;
         margin-left: 1cm;
         margin-right: 2cm;
     }
     table{
         width: 20%;
     }
     td{
         padding: 8px;
     }
     
    .imgbg{
        background-image:url("https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.1&permmsgid=msg-a:r4175269527538938791&th=17fbbc1e8514e4ee&view=att&disp=safe&realattid=f_l14xla2q0");
        background-repeat:no-repeat;
        background-size: 35cm 12cm;
        height: 12cm;  
        /* opacity: 0.5; */
     }
    
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRDO</title>
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <!-- <div class="imgbg"> -->
    <nav class="navbar navbar-expand-lg top navbar-light">
      <img href"#" style="margin-left: -1cm; height: 2cm; width: 2cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.1&permmsgid=msg-a:r-7077836541512152179&th=17fa86131381d7e4&view=att&disp=safe&realattid=f_l0zk12260">
        <a class="navbar-brand" href="#" style="padding-left: 0.5cm;">  DRDO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  CBRN Trainings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'Ques' %}">Need Analysis</a>
                  <a class="dropdown-item" href="{% url 'Mumbai' %}">Previous Courses</a>
                  <a class="dropdown-item" href="{% url 'CourseAnalysis' %}">Course Analysis</a>
                  <a class="dropdown-item" href="#">Upcoming Courses</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Knowledge Center
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <a class="dropdown-item" href="#">Publications</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"> Industry Partner <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#"> CBRN Team <span class="sr-only"></span></a>
              </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <form class="form-inline my-2 my-lg-0 stop">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </form>
          
          <img href"#" style="margin-left: 0.5cm; height: 2cm; width: 2cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.1&permmsgid=msg-a:r4366394966094136152&th=17fb6e66305b50bc&view=att&disp=safe&realattid=f_l13l2k2p0">
        </div>
      </nav>
      </div>
       
      <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half orn" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.1&permmsgid=msg-f:1727004129879174411&th=17f78d1b2714ad0b&view=att&disp=safe&realattid=f_l0mcau7r1" alt="First slide">
          </div>
          <!--/First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <img class="d-block w-100" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.2&permmsgid=msg-f:1727004129879174411&th=17f78d1b2714ad0b&view=att&disp=safe&realattid=f_l0mcau6k0" alt="Second slide">
          </div>
          <!--/Second slide-->
          <!--Third slide-->
          <div class="carousel-item">
            <img class="d-block w-100" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.3&permmsgid=msg-f:1727004129879174411&th=17f78d1b2714ad0b&view=att&disp=safe&realattid=f_l0mchvqu2" alt="Third slide">
          </div>
      </div>
        <!--Carousel Wrapper-->
      <hr>
      <!-- Mumbai Course Report -->
      <div class="Abtdrdo">
        <h4>ABOUT DRDO</h4>
        <p>The Defence Research and Development Organisation (DRDO) (IAST: Raksā Anūsandhān Evam Vikās Sangaṭhan) is the premier agency under the Department of Defence Research and Development in Ministry of Defence of the Government of India, charged with the military's research and development, headquartered in Delhi, India. It was formed in 1958 by the merger of the Technical Development Establishment and the Directorate of Technical Development and Production of the Indian Ordnance Factories with the Defence Science Organisation. Subsequently, Defence Research & Development Service (DRDS) was constituted in 1979 as a service of Group 'A' Officers / Scientists directly under the administrative control of Ministry of Defence.

        With a network of almost 30 laboratories (earlier 52-57), which are engaged in developing defence technologies covering various fields, like aeronautics, armaments, electronics, land combat engineering, life sciences, materials, missiles, and naval systems, DRDO is India's largest and most diverse research organisation. The organisation includes around 5,000 scientists belonging to the DRDS and about 25,000 other subordinate scientific, technical and supporting personnel.</p>

      </div>
      <hr>

      <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half ornd" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.1&permmsgid=msg-f:1727004129879174411&th=17f78d1b2714ad0b&view=att&disp=safe&realattid=f_l0mcau7r1" alt="First slide">
          </div>
          <!--/First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <img class="d-block w-100" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.2&permmsgid=msg-f:1727004129879174411&th=17f78d1b2714ad0b&view=att&disp=safe&realattid=f_l0mcau6k0" alt="Second slide">
          </div>
          <!--/Second slide-->
          <!--Third slide-->
          <div class="carousel-item">
            <img class="d-block w-100" src="https://mail.google.com/mail/u/0?ui=2&ik=07ad55cd6a&attid=0.3&permmsgid=msg-f:1727004129879174411&th=17f78d1b2714ad0b&view=att&disp=safe&realattid=f_l0mchvqu2" alt="Third slide">
          </div>
          <!--/Third slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->  
    </div>

    <hr>
    <!-- Mumbai Course Report -->
    <div class="Abtdrdo">
      <h4>ABOUT CBRN</h4>
      <p>Chemical, biological, radiological and nuclear defence (CBRN defence or CBRNE defence) are protective measures taken in situations in which chemical, biological, radiological or nuclear warfare (including terrorism) hazards may be present. CBRN defence consists of CBRN passive protection, contamination avoidance, Weapon of mass destruction, mitigation.

        A CBRN incident differs from a hazardous material incident in both scope (i.e., CBRN can be a mass casualty situation) and intent. CBRN incidents are responded to under the assumption that they are intentional and malicious; evidence preservation and perpetrator apprehension are of greater concern than with HAZMAT incidents.</p>

    </div>

    <hr class="my-5">
    
    <footer class="bg-dark text-center text-white"><BR>
      FOLLOW US ON OUR SOCIAL MEDIA HANDLES
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
           
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
             ><i class="fa fa-facebook"></i
            ></a>

          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
             ><i class="fa fa-twitter"></i
            ></a>

          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
             ><i class="fa fa-google"></i
            ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
             ><i class="fa fa-instagram"></i
            ></a>

          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
             ><i class="fa fa-linkedin"></i
            ></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
             ><i class="fa fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">www.DRDO.com</a>
      </div>
      <!-- Copyright -->
    </footer>



  </section>
  <!-- Section: Basic example -->
</div>
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>